header {
    text-align: center;
    margin: auto;
    padding: 15px;
}

form {
    text-align: center;
    margin: auto;
    padding: 15px;
}

.mensaje {
    text-align: center;
    color: red;
}

/* BOOTSTRAP */

.container {
    margin-top: 50px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}